# Python compilation files:
*.py[cod]
__python__/*

# Compiled language files:
*.mo
*.pot

# IDE specific files:
.idea

# Virtual environment:
venv
.venv

# Database files:
*.sqlite3

# Code coverage:
.coverage

# Folder that should contain generated
# source files for builidng distribution
# files:
build/src
