{% load css svg static %}

<style>
    {{ 'cv/style/cv.css'|css }}
    {{ 'cv/style/left.css'|css }}
    {{ 'cv/style/right.css'|css }}
</style>

<div class="content">
    <section class="left">
        <div class="left-content">
            <div class="avatar">
                <img src="{{ avatar_url }}"
                     alt="cv person"/>
            </div>
        </div>
    </section>
    <section class="right">
        <div class="right-content">
            <div class="header">
                <div class="title">
                    <h1 class="name">{{ first_name|upper }} {{ last_name|upper }}</h1>
                    <h3 class="role">{{ role|upper }}</h3>
                </div>
                <div class="contact">
                    <a class="contact-item" href="{{ address.url }}">
                        {% svg "cv/svg/location.svg" %}
                        <div class="contact-item-value">{{ address.label }}</div>
                    </a>
                    <a class="contact-item" href="tel:{{ phone }}">
                        {% svg "cv/svg/phone.svg" %}
                        <div class="contact-item-value">{{ phone }}</div>
                    </a>
                    <a class="contact-item" href="mailto:{{ email }}">
                        {% svg "cv/svg/email.svg" %}
                        <div class="contact-item-value">{{ email }}</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
