{% load css svg static %}

<style>
    {{ 'cv/style/cv.css'|css }}
    {{ 'cv/style/left.css'|css }}
    {{ 'cv/style/right.css'|css }}
</style>

<div class="content">
    <section class="left">
        <div class="left-content">
            <div class="avatar">
                <img src="{{ base_url }}{% static 'cv/img/milos-roknic.png' %}"
                     alt="cv person"/>
            </div>
        </div>
    </section>
    <section class="right">
        <div class="right-content">
            <div class="header">
                <div class="title">
                    <h1 class="name">MILOŠ ROKNIĆ</h1>
                    <h3 class="role">SOFTWARE ENGINEER</h3>
                </div>
                <div class="contact">
                    <a class="contact-item"
                       href="https://www.google.rs/maps/place/Kornelija+Stankovi%C4%87a+39,+Novi+Sad/@45.2600114,19.8085096,15.91z/data=!4m6!3m5!1s0x475b11b16298fc2d:0xa5444cbbc3bf8f26!8m2!3d45.2605492!4d19.8103612!16s%2Fg%2F11fx0qw3pz?hl=hr&entry=ttu">
                        {% svg "cv/svg/location.svg" %}
                        <div class="contact-item-value">Kornelija Stankovića 39, Novi Sad, 21000, Serbia</div>
                    </a>
                    <a class="contact-item" href="tel:+385638455742">
                        {% svg "cv/svg/phone.svg" %}
                        <div class="contact-item-value">+385638455742</div>
                    </a>
                    <a class="contact-item" href="mailto:roknic.milos.994@gmail.com">
                        {% svg "cv/svg/email.svg" %}
                        <div class="contact-item-value">roknic.milos.994@gmail.com</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
