.page h1 {
    padding: 90px;
    margin: 0;

    @media only screen and (max-width: 800px) {
        padding: 30px;
        font-size: 22px;
        text-align: center;
    }
}

.page--green {
    background-color: #b0ffb0;
}

.page--red {
    background-color: #ffa9a9;
}

.svg {
    margin: 50px 90px;
}
